body {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}
.product-slide-container {
  width: 1050px;
  /* height: 516px; */
}
.product-item {
  width: 249px;
}
ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
figure {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;

  /* a {
    width: 249px;
  } */

  img {
    width: 249px;
    height: 320px;
  }

  figcaption {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
  }
}
.desc {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #898989;
}

.item-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: #333333;
}
.discount {
  width: 47px;
  height: 32px;
  font-weight: 600;
  font-size: 21.33px;
  line-height: 31.99px;
  color: #fa622f;
}
.now-price {
  width: 96px;
  height: 32px;
  font-weight: 600;
  font-size: 21.33px;
  line-height: 31.99px;
}
.real-price {
  width: 53px;
  height: 19px;
  font-weight: 400;
  font-size: 12px;
  line-height: 19.2px;
  color: #898989;
  text-decoration: line-through;
}
.price-info {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}
.now-price-info {
  display: flex;
  gap: 8px;
}
.extra-desc {
  line-height: 19px;
  font-weight: 400;
  font-size: 12px;
  line-height: 19.2px;
  color: #898989;
}
.badge {
  /* display: none; */
  background-color: #e1e1e1;
  border-radius: 4px;
  padding: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
}
.karly-only {
  color: #5f0080;
}
.is-active {
  display: inline-block;
}
