/* 기본 스타일 */
button {
  cursor: pointer;
}

/* 제품 목록 페이지 메인 영역 스타일 */
.item_list_main {
  width: 1050px;
  padding: 48px 0 52px 0;
  margin: 0 auto;
  position: relative;
}

.item_list_subject {
  color: var(--black);

  /* Label/Large */
  font-family: Pretendard;
  font-size: 21.328px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 31.992px */

  text-align: center;
  margin-bottom: 48px;
}

.item_filter_container {
  position: absolute;
  width: 220px;
}

.item_filter_container li {
  display: flex;
  align-items: center;
  height: 52px;
  border-bottom: 1px solid var(--gray--100);
}

.item_filter_options {
  justify-content: space-between;
}

.item_filter_options button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  padding: 0;
  background-color: transparent;
  color: var(--content);

  /* Label/Medium */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.item_filter_options button::after {
  content: url('/src/assets/icons/dropdown_arrow.png');
}

.item_filter_subject {
  justify-content: space-between;
  color: var(--content);

  /* Label/Medium */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.item_filter_init {
  border: 0;
  padding: 0;
  background-color: transparent;
  color: var(--gray--300);
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 16px */
}

.item_list_section {
  width: 786px;
  margin: 0 0 80px auto;
}

.item_list_info_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 24px;
  margin-bottom: 20px;
}

.item_total {
  color: var(--content);

  /* Label/Medium */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.item_sort_container {
  display: flex;
  justify-content: space-between;
}

.item_sort_options {
  display: inline-flex;
  justify-content: center;
}

.item_sort_options button {
  border: 0;
  padding: 0;
  background-color: transparent;
  color: var(--gray--300);

  /* Label/Medium */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.item_sort_options:first-child button {
  color: var(--content);

  /* Label/Medium */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

/* 수정 필요. Content 삽입 시 item_sort_options 중 첫 번째 요소 style에 이상 발생. */
/* .item_sort_options:first-child button::after {
  content: url('/src/assets/icons/info_tooltip.png');
  margin-left: 4px;
} */

.item_sort_options:nth-child(-n + 5)::after {
  content: '|';
  color: var(--gray--300);
  align-self: center;
  font-size: 12px;
  margin: 0 8px;
}

.item_list_container {
  width: 100%;
  height: 2786px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 18px;
  grid-column-gap: 18px;
  row-gap: 24px;
  grid-row-gap: 24px;
  margin-bottom: 60px;
}

.item_card {
  position: relative;
}

.item_card a figure {
  width: 100%;
  height: 100%;
}

.product_img {
  width: 250px;
  height: 320px;
  margin-bottom: 16px;
}

.cart_button {
  position: absolute;
  top: 258px;
  left: 190px;
  border: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
}

.product_delivery {
  display: block;
  color: var(--gray--400);

  /* Label/Small */
  font-family: Pretendard;
  font-size: 12.003px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 18.005px */

  margin-bottom: 8px;
}

.product_title {
  display: block;
  color: var(--content);

  /* Paragraph/Medium */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */

  margin-bottom: 8px;
}

.product_price {
  display: block;
  color: var(--content);

  /* Label/Large */
  font-family: Pretendard;
  font-size: 21.328px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 31.992px */

  margin-bottom: 8px;
}

.product_description {
  display: block;
  color: var(--gray--400);

  /* Paragraph/Small */
  font-family: Pretendard;
  font-size: 12.003px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 19.205px */

  margin-bottom: 24px;
}

.page_move_buttons {
  text-align: center;
}

.page_move_buttons button {
  width: 34px;
  height: 34px;
  padding: 0;
  border: 1px solid var(--gray--100);
  background-color: transparent;
  color: var(--content);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* 장바구니 버블 스타일 */
.icon_wrapper {
  position: relative;
}

.cart_bubble {
  position: absolute;
  top: 64px;
  right: -24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 254px;
  height: 100px;
  padding: 20px;
  border: 1px solid var(--gray--200);
  background-color: var(--white);
  z-index: 15;
  visibility: hidden;
}

.cart_bubble_pointer {
  visibility: hidden;
  position: absolute;
  left: 124px;
  top: 51px;
  z-index: 15;
}

.cart_bubble_img_container {
  display: inline-flex;
  width: 46px;
  height: 60px;
}

.cart_bubble_img {
  height: 100%;
}

.cart_bubble_textbox {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.cart_bubble_product {
  color: var(--gray--300);

  /* Label/Small */
  font-family: Pretendard;
  font-size: 12.003px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 18.005px */

  margin-block-end: 8px;
}

.cart_bubble_description {
  color: var(--content);

  /* Paragraph/Small */
  font-family: Pretendard;
  font-size: 12.003px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 19.205px */
}