/* heartIcon_productDeatil.css */
.heart-box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.square-border {
    width: 55px;
    height: 55px;
    border: 0.99px solid #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.heart {
    cursor: pointer; /* 클릭 가능한 커서 설정 */
}

.heart-filled {
    display: none;
    cursor: pointer; /* 클릭 가능한 커서 설정 */
}

.filled .heart {
    display: none;
}

.filled .heart-filled {
    display: block;
}
