/* 상단 Top_banner 최상단 */
.Top_banner {
  background: var(--primary, #5f0080);
  width: 100vw; /* 뷰포트 전체 너비 */
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  color: #fff;
  text-align: center;
}

.Top_banner_Inner {
  
  width: 1050px;
  margin: 0 auto; /* 가운데 정렬 */
  display: flex;
  justify-content: space-between; /* p 태그와 닫기 버튼을 최대한 오른쪽과 왼쪽으로 분리 */
  align-items: center; /* 세로 가운데 정렬 */
}

.Top_banner p {
  margin: 0;
  cursor: pointer; /* 마우스를 올렸을 때 포인터 커서로 변경 */
  
}

.Top_banner_Close {
  width: 42px;
  height: 42px;
  cursor: pointer; /* 마우스를 올렸을 때 포인터 커서로 변경 */
}

.Top_banner span {
  font-size: 16px;
  font-weight: 600;
}
