<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>회원가입|로그인|고객센터</title>
</head>
<body>
  <div class="Header">
    <div class="Header-inner">
      <ul class="Header-login-Service">
        <li>
          <a href="../../pages/register/index.html">회원가입</a>
        </li>
        <li class="divider" aria-hidden="true">|</li>
        <li>
          <a href="../../pages/login/login.html">로그인</a>
        </li>
        <li class="divider" aria-hidden="true">|</li>
        <li>
          <a href="#">고객센터</a>
          <div class="customerService-info">
            <a href="#">공지사항</a>
            <a href="#">자주하는 질문</a>
            <a href="#">1:1문의</a>
            <a href="#">대량주문 문의</a>
          </div>
        </li>
      </ul>

  
</body>
</html>