<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>header</title>
  <script type="module" src="../header/header.js"></script>
  <link rel="stylesheet" href="../header/header.css" />
</head>
<body>
    <header>
      <div class="Top_banner">
        <div class="Top_banner_Inner">
          <a href="../../pages/register/index.html"></a>
          <p>지금 가입하고 인기상품 <span>100원</span>에 받아가세요!</p>
        </a>
          <button class="Top_banner_Close" type="button">
            <img src="../../assets/icon/ico_close_fff_82x82.png" alt="최상단 배너 닫기 버튼" />
          </button>
        </div>
      </div>

      <div class="Header" >


      </div>






    </header>
  
</body>
</html>