<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script type="module" src="../../components/header/header.js"></script>
  <link rel="stylesheet" href="../header/style.css" />
  <title>최상단배너, 회원가입,로그인,고객센터</title>
</head>
<body>
  <header>
    <div class="Top-banner">
      <div class="Top-banner-Inner">
        <a href="../../pages/register/index.html">
        <p>
          지금 가입하고 인기상품 <span>100원에</span>받아가세요!
        </p>
      </a>
        <button class="Top-banner-Close" type="button">
          <img src="../../assets/icon/ico_close_fff_84x84.png" alt="최상단 배너 닫기 버튼" />
        </button>
      </div>
    </div>

    


  
</body>
</html>

